body {background-color: ghostwhite;}

#AUMap img {
    width: 75%;
    height: 75%;
}


nav{
    background-color: rgb(36, 62, 138);
    color: white;
    padding: 5px 15px;
    display:flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color:ghostwhite;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 9px;
}

nav img {
    width: 5%;
    height: 5%;
}

h2 {
    color:rgb(36, 62, 138);
}